mat-toolbar {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.right {
  position: absolute;
  right: 10%;
  top: 2%;
}

