<h2>Welcome to CodeKADet</h2>
<br><br>

<form>
    <label>
        Choose Language:
        <input type="text" formControlName="Language" placeholder="Bonus part">
    </label><br><br>
    <label>
        Code here:
        <input type="text" formControlName="Code">
    </label><br><br>
    <label>
        User Input:
        <input type="text" formControlName="Input" placeholder="Provide input">
    </label><br><br>
    <label>
        Output:
        <input type="text" formControlName="Output" placeholder="Output">
    </label><br><br>

    <button type="submit">Submit</button>
    <button type="save">Save</button>
    <button type="Run">Run offline</button>
</form>