
<body>
 
  <div class='header'>
 
    <p>YOUR W0RKING TREE</p>
  </div>
  <mat-tree *ngIf="loaded" [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding matTreeNodePaddingIndent="20">
      <div class='part'>
      <button mat-icon-button disabled></button>
    <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
      {{ node.type ==='file' ? 'description' : 'folder' }}
    </mat-icon>
      <button mat-button (click)="sendFilename(node.name, node.path)">{{node.name}}</button>
      <button mat-button (click)="showRight(node.name, node.path, node.type)"><mat-icon>more_vert</mat-icon></button>
      <br>
      <mat-divider></mat-divider>
    </div>

  </mat-tree-node>


  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="20"> 
    <div class='part'>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
      {{ node.type ==='file' ? 'description' : 'folder' }}
    </mat-icon>
   <button mat-button (click)="sendFilename(node.name, node.path)">{{node.name}}</button>
    <button mat-button (click)="showRight(node.name, node.path, node.type)"><mat-icon>more_vert</mat-icon></button>
    <mat-divider></mat-divider>
  </div>

  </mat-tree-node>
</mat-tree>
</body>

 
<div *ngIf='showRightMenu' class=modal>
    <button mat-button (click)='rename_modal()'>Rename</button>
    <button mat-button (click)='file_delete()'>Delete</button>  
    <button mat-button *ngIf='isFolder' (click)='add_file()'>Add New File</button>
    <button mat-button *ngIf='isFolder' (click)='add_folder()'>Add New Folder</button>
</div>

<div *ngIf='renameModal' class=modal>
    <form [formGroup]='RenameForm' (ngSubmit)='file_rename()'>  
        Enter new name<input type="text" formControlName='new_name'><br>
        <input type='submit' value='Save'>
    </form>
</div> 



