
<body>
  <div class='header'>
 
    <p>YOUR W0RKING TREE</p>
  </div>
  <mat-tree *ngIf="loaded" [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding matTreeNodePaddingIndent="10" >
      <div class='part' >
      <button mat-icon-button disabled style="font-size:18px"(contextmenu)='togglecontextmenu($event, node)'></button>
    <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'" style="font-size:18px">
      {{ node.type ==='file' ? 'description' : 'folder' }}
    </mat-icon>
      <button mat-button (click)="sendFilename(node.name, node.path)" style="font-size:12px">{{node.name}}</button>
      <button mat-button (click)="showRight(node.name, node.path, node.type)" style="font-size:12px"><mat-icon>more_vert</mat-icon></button>
      <br>
      <mat-divider></mat-divider>
    </div>

  </mat-tree-node>


  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="10"> 
    <div class='part' style="height: 20px">
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name" style="font-size:18px">
      <mat-icon class="mat-icon-rtl-mirror" style="font-size:18px">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'" style="font-size:18px">
      {{ node.type ==='file' ? 'description' : 'folder' }}
    </mat-icon>
   <button mat-button (click)="sendFilename(node.name, node.path)" style="font-size:12px">{{node.name}}</button>
    <button mat-button (click)="showRight(node.name, node.path, node.type)" style="font-size:12px"><mat-icon>more_vert</mat-icon></button>
    <mat-divider></mat-divider>
  </div>

  </mat-tree-node>
</mat-tree>
</body>

 
<div *ngIf='showRightMenu' class='modal1'>
    <button mat-button (click)='rename_modal()'>Rename</button> <br>
    <button mat-button (click)='file_delete()'>Delete</button>  <br> 
    <button mat-button *ngIf='isFolder' (click)='add_file()'>Add New File</button> <br>
    <button mat-button *ngIf='isFolder' (click)='add_folder()'>Add New Folder</button> <br>
   <button mat-raised-button color='warn' (click)="closeRight()">Close</button>
</div>

<div *ngIf='renameModal' class='modal2'[ngStyle]="{'left':contextx}" [ngStyle]="{'right':contexty}" [ngStyle]="{'position': 'absolute'}">
    <form [formGroup]='RenameForm' (ngSubmit)='file_rename()'>  
        Enter new name<input type="text" required formControlName='new_name'><br>
        <input type='submit' value='Save'>
         <button mat-raised-button color='warn' (click)="rename_modal()">Close</button>
    </form>
</div> 