<div  class="directory" style="background-color: skyblue;">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>    
        <button (click)='selector(node.item)'>{{node.item}}</button>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button
              [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>     
      <button (click)='selector(node.item)'>{{node.item}}</button>
      <mat-progress-bar *ngIf="node.isLoading"
                        mode="indeterminate"
                        class="example-tree-progress-bar"></mat-progress-bar>
    </mat-tree-node>
  </mat-tree>
  <br>
  <br>
  <button mat-raised-button color='secondary' (click)="addItems()">Create File</button>
  <h1> you selected : {{Form.get('filename').value}} </h1>
</div>

