.type-icon {
  color: white;
  margin-right: 5px;
}
body{
  overflow-y: auto;
  overflow-x: hidden;
  width: 300px;
  height: 635px;
  margin: 20px;
  // border-color: white;
  // border-width: 1px;
  // border-style: dotted;
  border: 1px solid white;
  // border-radius: 2px;
  background-color: 	#333232;
  margin-top: 20px;
  margin-left: 60px;
 
}

.header{
  background-color: #ffb646;
  font-family: Roboto;
  font-size: 15px;
  color: black;
  font-style: bold;
  text-align: center;
  padding: 5px;
  padding-bottom: 1px;
}
mat-tree{
  background-color: #333232;
  color: white;
  margin-top: -10px;
  font-size: small;
  padding: 0px;
  :hover{
    background-color: #444444;
  }
}
.mat-divider {
  // width: 300px;
  height: 0px;
  border-color:  	#181818;
}
mat-tree-node{
  color: white;
  // min-height:40px;  
  padding: 0;
}

.modal1{
  z-index: 100;
  position: absolute;
  padding: 10px;
  top: 30%;
  left: 10%;
  margin: auto;
  background-color: #444444;
  color: white;
  border-radius: 10px;
}
.modal2{
  z-index: 100;
  position: absolute;
  padding: 10px;
  top: 30%;
  left: 10%;
  margin: auto;
  background-color: #444444;
  color: white;
  border-radius: 10px;
}
.part{
  height: fit-content;
  min-height: 30px;
}
