<div class="grid-container">
<div class='grid-item' id='sidebar'>
    <h2>Welcome to CodeKADeT!</h2>
    <br><br>
    <button mat-raised-button color='accent' type="submit" (click)='onLogout()'>Logout</button>
    <h4>Your Files:</h4><br> 
   <try-component></try-component>
    <br><br><br><br><br><br>
<div class='form-group'>
  Upload file
  <label for="file">Choose File</label>
  <input type="file" id='file' (change)='handleFileInput($event.target.files)'>
</div>
<br>

<label for='newfile'>Create new file</label>
<input type='text' id='newfile' [(ngModel)] = 'textboxfile'>
<button type='submit' (click) = 'makeEmptyFile()'>Create!</button>
<p> {{ textboxfile}} </p>
    
</div>
<div class='grid-item'>
<form [formGroup]='Form'>
    <label>
        Choose Language:
        <select formControlName='Language'id="lang">
            <option value="cpp">C++</option>
            <option value="java">Java</option>
            <option value="py">Python</option>
        </select>
    </label><br><br>
    <br>
    <div id="interface1" style="float: left;">
        <ace-editor #editor [(text)]='text' formControlName='Code' theme='monokai' [(mode)]='mode'></ace-editor>
    </div><br>
        
        <div style="width: 30%; float: left;">
            <div id="interface">
                <label for='input'>User input:</label><br>
                <textarea formControlName='Input' id="input" cols="40" rows="12"></textarea>
            </div>
            <div id="interface">
                <label for='output'>User output:</label><br>
                <textarea formControlName='Output' id="output" cols="40" rows="12"></textarea>
        </div>
   </div>
</form>
<button mat-raised-button color='accent' type="submit" (click)='onSubmit()'>Submit</button>
<button mat-raised-button color='primary' type="save" (click)='onSave()'>Save</button>
<button mat-raised-button color='warn' type="Run">Run offline</button>
<br>
<br>
<br>

</div>
</div>

