<div class="grid-container">
<div class='grid-item' id='sidebar'>
    <h2>Welcome to CodeKADeT!</h2>
    <br><br>
    <button mat-raised-button color='accent' type="submit" (click)='onLogout()'>Logout</button>
    <h4>Your Files:</h4><br> 
   <try-component (newItemEvent)="getFile($event)">  </try-component>
    <br><br><br><br><br><br>
<!-- <div class='form-group'>
  Upload file
  <label for="file">Choose File</label>
  <input type="file" id='file' (change)='handleFileInput($event.target.files)'>
</div>
<br>

<label for='newfile'>Create new file</label>
<input type='text' id='newfile' [(ngModel)] = 'textboxfile'>
<button type='submit' (click) = 'makeEmptyFile()'>Create!</button>
<p> {{ textboxfile}} </p> -->

<button (click)='modalview()'> new file</button>
    
</div>
<div class='grid-item'>
    <label>
        Choose Language:
        <select [(ngModel)]='mode' id="lang">
            <option value="c_cpp">C++</option>
            <option value="java">Java</option>
            <option value="python">Python</option>
        </select>
    </label><br><br>
    <br>
    <div id="interface1" style="float: left;">
        <ace-editor #editor [(text)]='text' theme='monokai' [(mode)]='mode'></ace-editor>
    </div><br>
        
<form [formGroup]='RunForm'>
        <div style="width: 30%; float: left;">
            <div id="interface">
                <label for='input'>User input:</label><br>
                <textarea formControlName='Input' id="input" cols="40" rows="12"></textarea>
            </div>
            <div id="interface">
                <label for='output'>User output:</label><br>
                <textarea formControlName='Output' id="output" cols="40" rows="12"></textarea>
        </div>
   </div>
</form>
<button mat-raised-button color='accent' type="submit" (click)='onSubmit()'>Submit</button>
<button mat-raised-button color='primary' type="save" (click)='onSave()'>Save</button>
<button mat-raised-button color='warn' type="Run" (click)="run()">Run</button>
<br>
<br>
<br>

</div>
</div>

<div *ngIf='showmodal' class=modal>
    <button (click)='empty()' class='choicebutton'>empty file</button>
    <button (click)='comp()' class='choicebutton'>upload from computer</button>
    <div *ngIf='showwhat; else other'>
       <form [formGroup]='FileForm' (ngSubmit)='makeEmptyFile()'>  
        file name<input type="text" formControlName='file_name'><br>
        path<input type="text" formControlName='path'><br>
        description<input type='text' formControlName='description'><br>
        language<input type='text' formControlName='language'><br>
        <input type='submit' value=''>
       </form>
    </div>
    <ng-template #other>
        <form [formGroup]='FileForm'>  
            file name<input type="text" formControlName='file_name'><br>
            path<input type="text" formControlName='path'><br>
            description<input type='text' formControlName='description'><br>
            language<input type='text' formControlName='language'><br>
            <input type='submit' value=''>
           </form>
  <input type="file" id='file' (change)='handleFileInput($event.target.files)'>
        </ng-template>
</div>
