body {
  font-family: Roboto, Geneva, Tahoma, sans-serif;
  background-color: #222222;
  color: white;
}
ace-editor {
  min-height: 700px;
  overflow: auto;
  font-size: 14pt;
}
button {
  margin: 10px;
  // background-color: peachpuff;
  background-color: #fefe95;
  color: black;
}
try-component{
    position: relative;
    left: -40px;
}
.grid-container {
  display: grid;
  grid-template-columns: 18% 80%;
  grid-column-gap: 3%;
}

#sidebar {
  height: fit-content;
  text-align: center;
  margin-top: 26%;

}
#interface1{
    width: 70%;
    // border: 1px 1px 1px 1px solid white;
    display: inline;
    box-shadow: 0.5px 0.5px 0.5px 0.5px white;
    // box-shadow: 1px 1px 5px 5px white;
    position: relative;
    top: 30px;
    right: 10px;
    // margin: 3px;
}
#interface{
  margin-left: 20px;
  margin-top: 30px;
}
.grid-item{
  margin-top: 30px;
}
.modal{
  z-index: 100;
  position: absolute;
  padding: 10px;
  top: 40%;
  left: 40%;
  margin: auto;
  width: 400px;
  height: 400px;
  background-color: 	#444444;
  border-radius: 10px;
  color: white;
}
.choicebutton1{
  width: 50%;
  margin: 0;
  background-color: #333232;
  border-width: 0;
  height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
}
.choicebutton2{
  width: 50%;
  margin: 0;
  background-color: #333232;
  border-width: 0;
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

.yellow {
   background-color: 	#444444;
   border-bottom: orange;
   border-bottom-width: 5px;;
   color: white;

}
.buttons{
  margin-top: 10%;
  margin-left: 20%;
}
.form{
  input{
    width: 60%;
  }
}

.left-buttons{
  width: fit-content;
  display: inline-block;
  position: absolute;
  left: 3%;
  margin-top: auto;
  button{
    margin: 5px;
  }
}


.icon{
  position: absolute;
  margin: 10px;
  margin-bottom: 40px;
  font-size: 40px;
}

#input {
    background-color: #444444;
    font-size: 17px;
    height: 240px;
    width: 300px;
    color: white;
    border-radius: 5px;
}

#output {
    background-color: #444444;
    font-size: 17px;
    height: 240px;
    width: 300px;
    color: white;
    border-radius: 5px;
}
