<body>
        <button mat-raised-button color='warn' type="submit" (click)='onLogout()' style="position: absolute; right: 4%; top: 0.5%">Logout</button>
        <div class="grid-container">
        <div class='grid-item' id='sidebar'>
            <div class='left-buttons'>
        <button mat-raised-button style="margin-left: 5px;"  (click)='closeModal(true)'> Create New File</button>
        <button mat-raised-button  (click)='closeFolderModal(true)'> Create New Project</button>
    </div>

	<br>
	<br>
        <div style="color: white; position: absolute; right: 88%; top: 2.4%; font-size: 17px;">Hi, {{user}}!</div>
           <try-component id='treecomp' #treecomp (newItemEvent)="getFile($event)" (uploadFileEvent)="modalview($event)" (uploadFolderEvent)="folderModalview($event)" (deleteEvent)="deleteText($event)" (rightClose)="closeModals($event)" (downloadEvent)="downLoadFile($event)">  </try-component>
            <div class='left-buttons'>
    </div>
        </div>
        <div class='grid-item'>
            <h3>
            <span>File: {{ DisplayForm.get('name').value }}</span>
            <span style='margin: 100px'>Language: {{ formalName[mode] }}</span>
        </h3>
            <div id="interface1" style="float: left;">
                <ace-editor #editor [(text)]='text' [(theme)]='themes' [(mode)]='mode'></ace-editor>
            </div><br>
        <!-- <button mat-raised-button color='primary' type="theme" (click)='theme()'>Change Theme</button> -->
        <form [formGroup]='RunForm'>
                <div style="width: 30%; float: left; position: relative; top: -100%">
                    <button mat-raised-button (click)="changeTheme()">Change Editor Theme</button>
                    <div id="interface">
                        <label for='input'>User input:</label><br>
                        <textarea formControlName='Input' id="input" cols="30" rows="12"></textarea>
                    </div>
                    <div id="interface">
                        <label for='output'>User output:</label><br>
                        <textarea formControlName='Output' id="output" cols="30" rows="12" readonly></textarea>
                </div>
                <div class='buttons'>
                        <button mat-raised-button type="save" (click)='onSave()'>Save</button>
                        <button mat-raised-button type="Run" (click)="run()">Run</button>
                        </div>
           </div>
        </form>
        
        </div>
        </div>
        
        <div *ngIf='showmodal' class=modal>
            <button (click)='empty()' [ngClass]="{'white': showwhat, 'yellow': !showwhat}"class='choicebutton1'>Make Empty File</button>
            <button (click)='comp()' [ngClass]="{'yellow': showwhat, 'white': !showwhat}" class='choicebutton2'>Upload From Computer</button>
            <div *ngIf='showwhat; else other'>
               <form [formGroup]='FileForm' (ngSubmit)='makeEmptyFile()' class='form'>  
                <label for='file_name'>File Name: </label><br>
                <input type="text" id='file_name'required formControlName='file_name'><br>
               </form>
                <button mat-raised-button type='submit' [disabled]='!FileForm.valid' (click)='makeEmptyFile()'>Create</button>
                <button mat-raised-button color='warn' type='' (click)='closeModal(false)'>Cancel</button>
        
            </div>
            <ng-template #other>
                <form [formGroup]='FileForm' class='form'>  
                <label for='file_name'>File Name: </label><br>
                <input required type="text" id='file_name'formControlName='file_name'><br>
                   </form>
                   <br>
                    <input required type="file" id='file' (change)='setFile($event.target.files)'> 
                    <br>
                <button mat-raised-button type='submit' [disabled]='!FileForm.valid' (click)='handleFileInput()'>Create</button>
                <button mat-raised-button color='warn' type='' (click)='closeModal(false)'>Cancel</button>
                </ng-template>
        </div>

 <div *ngIf='folderModal' class=modal style="height: min-content;">
    Name <input required type="text" id='file_name' [(ngModel)]="newName"><br>
  <button [disabled]='!document.getElementById("file_name").value' mat-raised-button type='submit' (click)='addNewFolder()'>Create</button>
    <button mat-raised-button color='warn' type='' (click)='closeFolderModal(false)'>Cancel</button>

 </div>
</body>
