#workspace {
  font-family: Verdana, Geneva, Tahoma, sans-serifj;
}
ace-editor {
  // margin: 0 5%;
  min-height: 700px;
  overflow: auto;
  font-size: 14pt;
}
button {
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 18% 80%;
  grid-column-gap: 3%;
  // height: 100vh;
}

#sidebar {
  background-color: skyblue;
  height: 100%;
  text-align: center;
}
#interface1{
  width: 70%
}
#interface{
  margin-left: 20px;
  margin-top: 30px;
}
.grid-item{
  margin-top: 30px;
}