<div class="about-section">
	<h1>Contact Us Page</h1>
	<p>An attempt at implementing basic features using Angular</p>
	<p>We would love to hear your feedback!!</p>

  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row1">
	<div class="column1">
	  <div class="card">
		
		<div class="container">
		  <h2>Tulip Pandey</h2>
		  <p class="title">Roll No.-190050125</p>
		  <br>
		  <p>190050125@iitb.ac.in</p>
		  <br>
		  <p><button class="button">
			<a href="mailto:190050125@iitb.ac.in" style="color:white">
				Contact
			</a>
			</button></p>
		</div>
	  </div>
	</div> 
	<div class="column2">
	  <div class="card">
		<div class="container">
		  <h2>Adarsh Kumar</h2>
		  <p class="title">Roll No.-19D180003</p>
		  <br>
		  <p>19D180003@iitb.ac.in</p>
		  <br>
		  <p><button class="button">
			<a href="mailto:19D180003@iitb.ac.in" style="color:white">
			  Contact
			  </a>
		</button></p>
		</div>
      </div>
    </div>
    <div class="row2">
      <div class="column1">
        <div class="card">
          
          <div class="container">
            <h2>Danish Angural</h2>
            <p class="title">Roll No.-190050028</p>
            <br>
            <p>190050028@iitb.ac.in</p>
            <br>
            <p><button class="button">
              <a href="mailto:190050028@iitb.ac.in" style="color:white">
                  Contact
              </a>
              </button></p>
          </div>
        </div>
      </div> 
      <div class="column2">
        <div class="card">
          <div class="container">
            <h2>Kanad Pardeshi</h2>
            <p class="title">Roll No.-190050056</p>
            <br>
            <p>190050056@iitb.ac.in</p>
            <br>
            <p><button class="button">
              <a href="mailto:190050056@iitb.ac.in" style="color:white">
                Contact
                </a>
          </button></p>
          </div>
        </div>
	</div>
  </div> 

