.example-card {
  max-width: 800px;
  border-radius: 50px;

}

.example-header-image {
  background-image: url('../../assets/iitb.png');
  background-size: cover;
  box-shadow: 10px 10px 5px grey;

}
.left{
  width: fit-content;
  box-shadow: 10px 10px 5px grey;
  border-radius: 50px;


}
.right{
  width: fit-content;
  box-shadow: 10px 10px 5px grey;
  border-radius: 50px;


}
// .container{
//   position: relative;
//   display: flex;
//   align-items: center;
//   width: fit-content;
//   top: 2%;
//   max-width: 100%;
//   margin: auto;
// }

.github{
  background-image: url('../../assets/github.png');
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: 100%;
  transition: all .01s ease-in-out;
  margin: 20px;
  border-width: 0px;
  box-shadow: 10px 10px 5px grey;

}
.github:hover{
 transform: scale(1.5);
}
.facebook{
  background-image: url('../../assets/facebook.png');
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: 100%;
  transition: all .01s ease-in-out;
  margin: 20px;
  border-width: 0px;
  box-shadow: 10px 10px 5px grey;

}
.facebook:hover{
  transform: scale(1.5);
}
.linkedin{
  background-image: url('../../assets/linkedin.png');
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: 200%;
  background-position: center;
  transition: all .01s ease-in-out;
  margin: 20px;
  border-width: 0px;
  box-shadow: 10px 10px 5px grey;

}
.linkedin:hover{
  transform: scale(1.5);
}

.phone{
  background-image: url('../../assets/whatsapp.png');
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-size: 100%;
  background-position: center;
  transition: all .01s ease-in-out;
  margin: 20px;
  border-width: 0px;
  box-shadow: 10px 10px 5px grey;
}
.phone:hover{
  transform: scale(1.5);

}

p{
  align-self: center;
}
.profile{
  border-radius: 100%; width:300px; height: 300px;
}
#particles-js {
  height: 100%;
  width: 100%;
  background-color: black;
  position: fixed;
  z-index: -100;
}

// .box {
//   width: 400px;
//   text-align: center;
//   left: 50%;
//   top: 30%;
// }
.phone .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.phone:hover .tooltiptext{
  visibility: visible;
}
