<div id="particles-js">
</div>
<carousel dots= true height=650 cellsToShow=1 width=850 style="margin: auto; margin-top: 100px" arrowsOutside=True loop= True>

<!-- <div class="container"> -->
<div class="left carousel-cell" >
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Kanad Pardeshi</mat-card-title>
      <mat-card-subtitle>CSE sophomore, IIT Bombay</mat-card-subtitle>
    </mat-card-header>
    <img  class='profile' src="../../assets/kanad.jpg" alt="Photo of Kanad" style="height: 300px; width: 300px; display: block; margin-left: auto; margin-right: auto;">
    <mat-card-content>
      <p style='text-align: center'>Roll Number: 190050056</p>
    <p style='text-align: center'>Email: 190050056@iitb.ac.in</p>
      <p>
        Hi, Kanad here! Danish and I have developed this website from scratch for the SSL lab. Coming to myself, nothing excites me more than learning new things about the world. Although I find it exhilarating to gaze at the clouds of theory, I also enjoy the practical aspects of Computer Science. I believe that the SSL Lab is helping me become a more complete programmer, and my biggest learning from this course would be <em>'the client is always right'</em>!
      </p>
    </mat-card-content>
    <mat-card-actions style="margin-left: 25%;">
        <button class="github" onclick="window.location.href='https://github.com/KanPard005';"></button>
        <button class="facebook" onclick="window.location.href='https://www.facebook.com/kanad.pardeshi/';"></button>
        <button class="linkedin" onclick="window.location.href='https://www.linkedin.com/in/kanad-pardeshi-09bb351b9/';"></button>
        <button class="phone" [cdkCopyToClipboard]="value1" onclick="alert('phone number copied to clipboard')"></button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="right carousel-cell">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Danish Angural</mat-card-title>
      <mat-card-subtitle>CSE Sophomore, IIT Bombay</mat-card-subtitle>
    </mat-card-header>
    <img class='profile' src="../../assets/danish.png" alt="Photo of Danish" style="height: 300px; width: 300px; display: block; margin-left: auto; margin-right: auto;">
    <mat-card-content>
        <p style='text-align: center'>Roll Number: 190050028</p>
        <p style='text-align: center'>Email: 190050028@iitb.ac.in</p>
        <p>
          Hello there. (Now you say "General kenobi".) I have created this website along with my friends as an ssl project. What we learnt through the course of this project was not only web-development, not only academic stuff, but also working in a team. I do basketball for the highs. That was me, Danish. Thankyou, and hope to hear from you soon!      </p>
    </mat-card-content>
    <mat-card-actions style="margin-left: 25%;">
      <button class="github" onclick="window.location.href='https://danish-angural.github.io';"></button>
      <button class="facebook" onclick="window.location.href='https://www.facebook.com/profile.php?id=100008739935715';"></button>
      <button class="linkedin" onclick="window.location.href='https://www.linkedin.com/in/danish-angural-425ab1195/';"></button>
      <button class="phone" [cdkCopyToClipboard]="value2" onclick="alert('phone number copied to clipboard')"></button>
    </mat-card-actions>
  </mat-card>
</div>
<div class="left carousel-cell" >
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Adarsh Kumar</mat-card-title>
        <mat-card-subtitle>CSE sophomore, IIT Bombay</mat-card-subtitle>
      </mat-card-header>
      <img  class='profile' src="../../assets/AdarshK.jpeg" alt="Photo of Adarsh" style="height: 300px; width: 300px; display: block; margin-left: auto; margin-right: auto;">
      <mat-card-content>
        <p style='text-align: center'>Roll Number: 19D180003</p>
      <p style='text-align: center'>Email: 19D180003@iitb.ac.in</p>
      <p>
        Hey, Adarsh here! We've worked on this project as a part of our Software Systems Course, I for one, discovered great things about Web Development and this course has made me more confident to venture into the unchartered waters of CS. I'm also a musician and a tennis player, and a great series binger :) Please feel free to connect with us, for any feedback. We'd love to hear from you, Cheers!
      </p>
      </mat-card-content>
      <mat-card-actions style="margin-left: 25%;">
          <button class="github" onclick="window.location.href='https://github.com/adarshk28';"></button>
          <button class="facebook" onclick="window.location.href='https://www.facebook.com/profile.php?id=100002738191459';"></button>
          
          <!-- <button class="linkedin" onclick="window.location.href='https://www.linkedin.com/in/kanad-pardeshi-09bb351b9/';"></button> -->
          <button class="phone" [cdkCopyToClipboard]="value3" onclick="alert('phone number copied to clipboard')"></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="left carousel-cell">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Tulip Pandey</mat-card-title>
        <mat-card-subtitle>CSE Sophomore, IIT Bombay</mat-card-subtitle>
      </mat-card-header>
      <img class='profile' src="../../assets/tulip.jpeg" alt="Photo of Tulip" style="height: 300px; width: 300px; display: block; margin-left: auto; margin-right: auto;">
      <mat-card-content>
          <p style='text-align: center'>Roll Number: 190050125</p>
          <p style='text-align: center'>Email: 190050125@iitb.ac.in</p>
          <p>
         Hola, I am Tulip. I enjoy penning down my thoughts and weaving them into poems when i am not busy staring at a screen. As far as web dev is concerned, discovering the nuances of the backend and it's integration with the interface has been extremely interesting. If you are wondering what CodeKADeT means, you'd want to read the descriptions again ;). Jokes apart, the important thing i have learnt from this project is that the smallest steps in the right direction make everything possible.It has been a steep climb to say the least, but it has undoubtedly been an exciting one!
        </p>
      </mat-card-content>
      <mat-card-actions style="margin-left: 25%;">
        <button class="github" onclick="window.location.href='https://github.com/Tulip16';"></button>
        <button class="facebook" onclick="window.location.href='https://www.facebook.com/kavyatulip.pandey/';"></button>
        <button class="linkedin" onclick="window.location.href='https://www.linkedin.com/in/tulip-pandey-ab0b671a9/';"></button>
        <button class="phone" [cdkCopyToClipboard]="value2" onclick="alert('phone number copied to clipboard')"></button>
      </mat-card-actions>
    </mat-card>
  </div>
</carousel>
